body {
  background-color: lightgray;
}

h1 {
  color: rgb(66, 66, 66);
  text-decoration: underline;
}

h3 {
  color: rgb(66, 66, 66);
}

img {
  border-radius: 15px;
  border: 2px solid rgb(66, 66, 66);
  text-align: center;
}

strong {
  color: seagreen;
}

#csharp {
  font-size: larger;
  font-weight: bold;
  color: seagreen;
}

#java {
  text-decoration: line-through;
}